body {
    background-color: #98c1d9;
}
h1 {
    color: white;
}

i {
    margin: 5px;
}

.card {
    display: inline-block;
    margin: 10px;
}

.team-heading {
    background-color: #1181b2;
    
}
.card-header {
    background-color: #26ace2;
    color: white;
}